.item {
  width: calc(100% / 3);
  margin-right: 30px;
  box-shadow: 0 0 5px #eee;
  border-radius: 4px;
  border: 1px solid transparent;
  background: #fff;
  box-sizing: border-box;
}
.item::nth-child(3n) {
  margin-right: 0;
}
.item:hover {
  border-color: #ff9501;
  box-shadow: 0 2px 10px rgb(180 195 255 / 50%);
}
.icon {
}
.content {
  padding: 10px;
}
.content .title {
  padding-bottom: 5px;
  font-size: 16px;
}
.content .description {
  font-size: 14px;
}
